
.more-css,
.single-css {
    background-color: cornflowerblue;
    display: inline-block;
}

.more-css p,
.single-css p {
    font-size: 23px;
    font-family: 微软雅黑;
}

.more-css ul,
.single-css ul {
    list-style: none;
    background-color: teal;
}

.get-css {
    font-size: 29px;
}


