
body{
    width: 1000px;
    height: 4000px;
}

.backTop {
    width: 100px;
    height: 100px;
    background-color: #cc6600;
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
    z-index: 100;
}
